footer {
    text-align: center;
    background-color: $gris-oscuro;
    padding: 20px 10px;
    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .footer__logo {
            a {
                img {
                    @extend .logo-imagen;
                    width: 6rem;
                    height: 6rem;
                }
                p {
                    font-family: $fuente-logo;
                    font-size: 2.4rem;
                }
            }
        }
        ul {
            font-size: 20px;
            font-weight: bold;
            li {
                padding: 1rem 0;
            }
        }
        .contacto {
            display: flex;
            flex-direction: column;
            margin-right: 1rem;
            h3 {
                padding: 1rem;
                font-size: large;
            }
            ul {
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                    gap: 2rem;
                    li {
                        margin: 1rem 0;
                    }
                    img {
                        @extend .icons;
                    }
                }
            }
        }
    }
}
