@include desktop {
    footer {
        div {
            .footer__logo {
                a {
                    p {
                        display: none;
                    }
                }
            }
            justify-content: space-around;
        }
    }
    #productsSection {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .about {
        grid-template-columns: 1fr;
    }
}
@include tablet {
    footer {
        text-align: center;
        padding: 1.5rem;
        div {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            .footer__logo {
                a {
                    p {
                        display: block;
                    }
                }
            }
            .contacto {
                margin-right: 0;
            }
        }
    }
    .seccion-productos {
        grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
        gap: 1rem;
        margin: 2rem;
    }
    #productsSection {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@include telefono {
    nav {
        div {
            a {
                h1 {
                    font-size: medium;
                }
            }
        }
    }
    .informacion {
        height: 70vh;
    }
}
