header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: $blanco;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    font-family: $fuente-parrafos;
    font-size: bold;
    nav {
        .container-fluid {
            background-color: $blanco;
        }
    }
}
.nav-item a:hover {
    color: $negro;
}
.dropdown-menu {
    background-color: $blanco;
}
.nav-link {
    font-family: $fuente-logo;
    font-size: 2.2rem;
    color: $marron-oscuro;
}
.link-btn {
    margin: 10px !important;
}
.dropdown-item {
    padding-right: 25px !important;
    padding-left: 25px !important;
}
body {
    margin-top: 80px;
}
