button {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    color: var(--negro);
    background-color: #6b6862ad;
    transition: background-color 0.3 ease;
}
button:hover {
    background-color: #413f3ba8;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.icons {
    width: 4rem;
    height: 4rem;
}
//logo
.logo-imagen {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}
