// Colores
$blanco: #fffcf2;
// $blanco-transparente: #fffcf227;
$negro: #000000;
$gris-claro: #ccc5b9;
$gris-oscuro: #6e6b66b9;
$marron-claro: #b08868b2;
$marron-oscuro: #432818;
$marron-oscuro-transparente: #432818c9;

//Fuentes
$fuente-heading: "Teko", sans-serif;
$fuente-parrafos: "lora", "sans-serif";
$fuente-logo: "Oswald", "sans-serif";

//Tamaño de Media Queries
$telefono: 340px;
$tablet: 600px;
$desktop: 860px;
